<nav id="navbar-example2" class="navbar navbar-light bg-light container-fluid">
  <a class="navbar-brand" href="/">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/shopping-cart">Shopping Cart <i class="badge badge-primary">{{ session.cart.totalQty }}</i></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User Management</a>
      <div class="dropdown-menu">
        {{!-- the login below is a global variable defined in app.js --}}
        {{# if login }}
        <a class="dropdown-item" href="/user/profile">User Account</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="/user/logout">Logout</a>
        {{ else }}
        <a class="dropdown-item" href="/user/signin">Login</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="/user/signup">Sign up</a>
        {{/if}}
      </div>
    </li>
  </ul>
</nav>